{% extends "base.html" %}

{% block content %}
    <h1>New Post</h1>
    <br>
    <form method='post'>
        
        <label>Title:
            <br>
            <input type="text" name="blogtitle" value="{{blogtitle}}">
        </label>
        <p class="error">{{title_error}}</p>
        <label>Blog Entry:
            <br>
            <textarea name="blogbody" style="width:540px; height:125px;">{{blogbody}}</textarea>
        </label>
        <p class="error">{{body_error}}</p>
        <input type="submit" value='Add Entry'>
    </form>
    
{% endblock %} 